<h1>TODO: Update UI and add logic to find account balance</h1>


<h3>Search transaction by Account Number </h3>

<div style="padding: 40px;">
  <form class="form-inline">
         <div class="row">
         <div class="col-md-6"><div class="form-group">

          <input type="text" class="form-control" #accountNo placeholder="Enter Customer ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
      </div>

       </div>
       <button class="btn btn-primary" (click)="getBalance(accountNo.value)" type="button">search</button>
  </form>
  </div>


  <div>
    <div class="header">
      <h2>Search Results</h2>
      <table class="table">
        <thead>
          <tr>

            <th>Customer Id</th>
            <th>Account No</th>
            <th>Balance</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of  balance">


            <td>{{ account.accountNo}}</td>
            <td>{{ account.balance}}</td>

          </tr>
        </tbody>
      </table>

  </div>
<div>
  <h3>All accounts  </h3>
  <table class="table">
    <thead>
      <tr>

        <th>Customer Id</th>
        <th>Account No</th>
        <th>Balance</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account_balance of  account_balances">

        <td>{{ account_balance.customerId}}</td>
        <td>{{ account_balance.accountNo}}</td>
        <td>{{ account_balance.balance}}</td>

      </tr>
    </tbody>
  </table>
</div>
